.resume{
	padding: 50px 0;
	background-color: #fafafa;

	.container{
		max-width: 1150px;
	}

	.title{

		&__main{
			font-weight: 700;
		}
	}

	@media (max-width: $screen-md) {

	}

	@media (max-width: $screen-md) and (min-width: $screen-sm) {

	}

	@media (max-width: $screen-xs-max) {
		padding: 30px 0;
	}
}