<div class="resume">
	<div class="container">
		<div class="title">
			<div class="title__promo">Постройте своё будущее c MediaNation</div>
			<div class="title__main title__main_accent">Отправьте ваше резюме</div>
		</div>
		<!--start form-->
		<form action="" class="form">
			<div class="form__top">
				<div class="form__block">
					<div class="form__field">
						<input type="text" class="form__input form__state" placeholder="Ваше Имя">
						<span class="icon icon_user"></span>
					</div>
				</div>
				<div class="form__block">
					<div class="form__field">
						<input type="email" class="form__input form__state" placeholder="Ваша электронная почта">
						<span class="icon icon_envelope"></span>
					</div>
				</div>
				<div class="form__block">
					<div class="form__field">
						<input type="tel" class="form__input form__state" placeholder="Ваш Телефон">
						<span class="icon icon_phone"></span>
					</div>
				</div>
			</div>
			<div class="form__message">
				<textarea name="" id="" cols="30" rows="5" class="form__textarea form__state"></textarea>
				<span class="icon icon_fly"></span>
				<!--start file-->
				<div class="file">
					<div class="file__result js-result"></div>

					<input type="file" name="file" id="file" accept=".doc,.docx, .pdf" class="file__input js-file"/>
					<label class="file__label" for="file">
						<span>Прикрепить резюме</span>
					</label>
					<div class="file__formats">Формат (doc, docx, pdf)</div>
				</div>
				<!--end file-->
			</div>

			<div class="form__footer">
				<div class="form__admire">Нажимая на кнопку откликнуться ты даешь согласие на <a href="#">обработку
					персональных данных</a></div>
				<button type="submit" class="btn">Откликнуться на вакансию</button>
			</div>

		</form>
		<!--end form-->
	</div>
</div>