.footer {
	background: #58595b;
	padding: 40px 0 0;
	position: relative;
	line-height: 1;
	min-width: 1200px;

	@media (--phone) {
		min-width: 320px;
	}

	&__inner {
		width: 1200px;
		padding: 0 15px;
		margin: 0 auto;

		@media (--phone) {
			width: auto;
			padding: 0 20px;
		}

	}

	&__top {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		@include clearfix;

		@media (--phone) {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			@include clearfix;
		}

	}

	&__bottom {
		padding: 30px 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;

		@media (--phone) {
			display: block;
		}

	}

	&__map {
		color: #ffffff;
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
		float: left;
		margin: 2px 0 0;

		a {
			color: #ffffff;
		}

	}

	&__copy {
		color: #d1d1d1;
		font-size: 13px;
		line-height: 22px;

		@media (--phone) {
			margin-bottom: 35px;
		}

	}

	&__block {
		color: #d1d1d1;
		font-size: 13px;
		line-height: 24px;

		@media (--phone) {
			margin-bottom: 30px;
		}

	}

	&__link {
		margin-right: 25px;
		color: #d1d1d1;

		&:last-child {
			margin-right: 0;
		}

		@media (--phone) {
			display: block;
			margin-bottom: 15px;
		}

	}

	&__develop {
		color: #d1d1d1;
		font-size: 13px;
		line-height: 22px;

		a {
			display: block;
			color: #d1d1d1;
			padding: 0 0 0 55px;
			position: relative;

			&:before {
				position: absolute;
				left: 0;
				top: 3px;
				background: svg-load('auth.svg', fill=#b7b6b6) no-repeat;
				content: '';
				width: 34px;
				height: 36px;
			}

			&:hover:before {
				background: svg-load('auth.svg', fill=#fff) no-repeat;
			}

		}

	}

}
