.footer {
	position: relative;
	z-index: 3;
	background-color: #1e262c;
	padding: 40px 0;

	&__top {
		margin-bottom: 25px;
	}

	&__bottom {

	}


	&__copyright{
		color: #fff;
		font-size: 12px;
		line-height: 24px;
		text-align: center;
	}

}
