<div class="footer" id="js-footer">
	<div class="footer__inner">

		<div class="footer__top">

			{% include 'menu/footer/index.html' %}

			{% include 'social/footer/index.html' %}

		</div>
		<div class="footer__bottom">

			<div class="footer__copy">
				© Copyright 1998-2017
			</div>

			<div class="footer__block">
				<a href="#" class="footer__link">Политика конфиденциальности</a>
				<a href="#" class="footer__link">Политика cookie</a>
			</div>

			<div class="footer__develop">
				<a href="#">
					Создание и продвижение сайта
				</a>
			</div>

		</div>

	</div>
	<!-- /.footer__inner -->
</div>
<!-- /.footer -->
