<div class="why">
	<div class="container">
		<div class="swiper swiper_why">
			<div class="swiper-container js-swiper-why">
				<div class="swiper-wrapper">
					<!-- start swiper-slide-->
					<div class="swiper-slide">
						<div class="why__item">
							<div class="why__image">
								<img src="{{src}}why-image-1.jpg" alt="">
							</div>
						</div>
					</div>
					<!-- end swiper-slide-->

					<!-- start swiper-slide-->
					<div class="swiper-slide">
						<div class="why__item">
							<div class="why__image">
								<img src="{{src}}why-image-1.jpg" alt="">
							</div>
						</div>
					</div>
					<!-- end swiper-slide-->

					<!-- start swiper-slide-->
					<div class="swiper-slide">
						<div class="why__item">
							<div class="why__image">
								<img src="{{src}}why-image-1.jpg" alt="">
							</div>
						</div>
					</div>
					<!-- end swiper-slide-->
				</div>
			</div>
			<div class="swiper-button-prev swiper_why-prev"></div>
			<div class="swiper-button-next swiper_why-next"></div>

			<!--start why__block-->
			<div class="why__block">
				<div class="swiper-pagination"></div>
				<div class="why__title">
					Почему у нас стоит работать?
				</div>
				<div class="why__text">Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам</div>
			</div>
			<!--end why__block-->
		</div>
	</div>
</div>