<div class="jobs">
	<div class="container">
		<div class="jobs__row">

			<!-- start jobs__col -->
			<div class="jobs__col">
				<!-- start jobs__item -->
				<div class="jobs__item">
					<div class="jobs__image">
						<img class="lazyload" data-src="{{src}}jobs-image.png" alt="">
					</div>
					<div class="jobs__title">Аккаунт менеджер</div>
					<div class="jobs__text">Ищем ответственного аккаунт-менеджера, готового броситься в огонь горящих проектов и тушить его.</div>
					<a href="#" class="jobs__link"><span>Откликнуться</span></a>
				</div>
				<!-- end jobs__item -->
			</div>
			<!-- end jobs__col -->
			<!-- start jobs__col -->
			<div class="jobs__col">
				<!-- start jobs__item -->
				<div class="jobs__item">
					<div class="jobs__image">
						<img class="lazyload" data-src="{{src}}jobs-image.png" alt="">
					</div>
					<div class="jobs__title">менеджер по продажам</div>
					<div class="jobs__text">Ищем ответственного аккаунт-менеджера, готового броситься в огонь горящих проектов и тушить его.</div>
					<a href="#" class="jobs__link"><span>Откликнуться</span></a>
				</div>
				<!-- end jobs__item -->
			</div>
			<!-- end jobs__col -->
			<!-- start jobs__col -->
			<div class="jobs__col">
				<!-- start jobs__item -->
				<div class="jobs__item">
					<div class="jobs__image">
						<img class="lazyload" data-src="{{src}}jobs-image.png" alt="">
					</div>
					<div class="jobs__title">Key account manager</div>
					<div class="jobs__text">Ищем ответственного аккаунт-менеджера, готового броситься в огонь горящих проектов и тушить его.</div>
					<a href="#" class="jobs__link"><span>Откликнуться</span></a>
				</div>
				<!-- end jobs__item -->
			</div>
			<!-- end jobs__col -->
		</div>
	</div>
</div>
