.header {
	position: relative;
	padding-top: 20px;

	&__blocks {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__block {

		&_wide {
			flex-grow: 1;
		}
	}

	@media(max-width:768px) {

		&__block {

			&_wide {
				order: 1;
				flex-grow: inherit;
			}
		}
	}
}
