.header {
	position: relative;
	padding-top: 20px;
	min-height: 850px;
	background-image:url(header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	&__blocks {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__block {

	}

	&__phone,
	&__email{
		color: #fff;
		font-size: 18px;
		line-height: 54px;
		opacity: 0.8;

		&:hover{
			opacity: 1;
			text-decoration: none;
		}
	}

	&__email{
		margin-left: 50px;
		text-decoration: underline;
	}

	@media (max-width: $screen-md) {

		}

		@media (max-width: $screen-md) and (min-width: $screen-sm) {

		}

		@media (max-width: $screen-xs-max) {
			height: 670px;
		}

}
