<header class="header geometria">
	<div class="container">
		<div class="header__blocks">
			<div class="header__block">
				{% include 'logo/global/logo.html' %}
			</div>
			<div class="header__block header__block_wide">
				<button class="hamburger" id="js-hamburger" aria-expanded="false">
					<span
						class="hamburger__screen-reader-text">Меню</span>

				</button>
				{% include 'menu/menu-header/menu-header.html' %}
			</div>
			<div class="header__block header__block_mobile">
				{% include 'social/social.html' %}

			</div>
		</div>
	</div>
</header>