<div class="features">
	<div class="container">
		<div class="features__items">
			<!-- start features__item -->
			<div class="features__item">
				<div class="features__image">
					<img class="lazyload" data-src="{{src}}features-image-1.jpg" alt="">
				</div>
				<div class="features__desc">
					<div class="features__title">Обучаем своих сотрудников</div>

					<div class="features__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
						doloribus, eum explicabo harum magni maiores modi mollitia nemo neque nisi numquam, perspiciatis
						quae quod reprehenderit tempore ullam, veniam vitae voluptatum.
					</div>
				</div>
			</div>
			<!-- end features__item -->

			<!-- start features__item -->
			<div class="features__item">
				<div class="features__image">
					<img class="lazyload" data-src="{{src}}features-image-5.jpg" alt="">
				</div>
				<div class="features__desc">
					<div class="features__title">Предоставляем дмс</div>

					<div class="features__text">Мы заботимся о здоровье своих сотрудников, поэтому lorem ipsum dolor sit
						amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua.
					</div>
				</div>
			</div>
			<!-- end features__item -->

			<!-- start features__item -->
			<div class="features__item">
				<div class="features__image">
					<img class="lazyload" data-src="{{src}}features-image-3.jpg" alt="">
				</div>

				<div class="features__desc">
					<div class="features__title">Обеспечиваем карьерный рост</div>

					<div class="features__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
						doloribus, eum explicabo harum magni maiores modi mollitia nemo neque nisi numquam, perspiciatis
						quae quod reprehenderit tempore ullam, veniam vitae voluptatum.
					</div>
				</div>
			</div>
			<!-- end features__item -->
			<!-- start features__item -->
			<div class="features__item">
				<div class="features__image">
					<img class="lazyload" data-src="{{src}}features-image-4.jpg" alt="">
				</div>

				<div class="features__desc">
					<div class="features__title">Гибкий график работы</div>

					<div class="features__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
						doloribus, eum explicabo harum magni maiores modi mollitia nemo neque nisi numquam, perspiciatis
						quae quod reprehenderit tempore ullam, veniam vitae voluptatum.
					</div>
				</div>
			</div>
			<!-- end features__item -->
			<!-- start features__item -->
			<div class="features__item">
				<div class="features__image">
					<img class="lazyload" data-src="{{src}}features-image-5.jpg" alt="">
				</div>

				<div class="features__desc">
					<div class="features__title">Мотивируем для высокой зарплаты</div>

					<div class="features__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
						doloribus, eum explicabo harum magni maiores modi mollitia nemo neque nisi numquam, perspiciatis
						quae quod reprehenderit tempore ullam, veniam vitae voluptatum.
					</div>
				</div>
			</div>
			<!-- end features__item -->
			<!-- start features__item -->
			<div class="features__item">
				<div class="features__image">
					<img class="lazyload" data-src="{{src}}features-image-6.jpg" alt="">
				</div>

				<div class="features__desc">
					<div class="features__title">И конечно же дружная команда</div>

					<div class="features__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
						doloribus, eum explicabo harum magni maiores modi mollitia nemo neque nisi numquam, perspiciatis
						quae quod reprehenderit tempore ullam, veniam vitae voluptatum.
					</div>
				</div>
			</div>
			<!-- end features__item -->
		</div>
	</div>
</div>
