<div class="work">
	<div class="work__blocks">

		<!-- start work__block -->
		<div class="work__block">
			<div class="work__image">
				<img class="lazyload  " data-src="{{src}}work-image.jpg" alt="">
			</div>
			<div class="work__bottom">
				<div class="work__title">Вакансии в городе</div>

				<!-- start combox -->
				<div class="combox">
					<div class="combox__section">
						<div class="combox__title js-combox__title">Москва</div>
						<ul class="combox__list">
							<li class="combox__item">
								<label class="combox__label">
									<input type="radio" name="r" class="combox__radio"
									       data-default="true" checked="">
									<span class="combox__text">Москва</span>
								</label>
							</li>
							<li class="combox__item">
								<label class="combox__label">
									<input type="radio" name="r" class="combox__radio">
									<span class="combox__text">Санкт-Петербург</span>
								</label>
							</li>
							<li class="combox__item">
								<label class="combox__label">
									<input type="radio" name="r" class="combox__radio">
									<span class="combox__text">Нижний Новгород</span>
								</label>
							</li>
						</ul>
					</div>
				</div>
				<!-- end combox -->
			</div>
		</div>
		<!-- end work__block -->

		<!-- start work__block -->
		<div class="work__block">
			<div class="work__desc">
				<div class="work__title">Мы ищем именно тебя если:</div>
				<ul class="work__list">
					<li class="work__item">Ты любишь то, что ты делаешь</li>
					<li class="work__item">Ты делаешь работу качественно</li>
					<li class="work__item">Ты бросаешь вызов сложным задачам и предлагаешь новый подход к их решению</li>
					<li class="work__item">Ты отлично работаешь в условиях многозадачности</li>
					<li class="work__item">Для тебя важен результат</li>
					<li class="work__item">Ты хочешь изменить мир</li>
				</ul>
			</div>
		</div>
		<!-- end work__block -->
	</div>

</div>
