{% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">
		<div class="wrap js-wrap">

		{% include 'header/global/header.html' %}

		<div class="middle">
			<div class="middle__container">

				<div class="content">
					<!-- WORKAREA -->

					<!--start clients-->
					{% include 'clients/clients.html' %}
					<!--end clients-->

					<!--start advantages-->
					{% include 'advantages/advantages.html' %}
					<!--end advantages-->

					<!--start why-->
					{% include 'why/why.html' %}
					<!--end why-->

					<!--start features-->
					{% include 'features/features.html' %}
					<!--end features-->

					<!--start partners-->
					{% include 'partners/partners.html' %}
					<!--end partners-->

					<!--start work-->
					{% include 'work/work.html' %}
					<!--end work-->

					<!--start jobs-->
					{% include 'jobs/jobs.html' %}
					<!--end jobs-->

					<!--start office-->
					{% include 'office/office.html' %}
					<!--end office-->

					<!--start resume-->
					{% include 'resume/resume.html' %}
					<!--end resume-->

					<!-- END WORKAREA -->
				</div>
				<!-- /.content -->

			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->
		</div>
	</div>
	<!-- /.wrapper -->

	{% include 'footer/global/footer.html' %} {% include 'connect/script.html' %} {% include 'connect/stylesheet.html' %}

</body>

</html>