<div class="office">
	<div class="office__blocks">
		<!-- start office__block -->
		<div class="office__block">
			<!--  start office__item -->
			<div class="office__item">
				<div class="office__image">
					<img class="lazyload" data-src="{{src}}office__image.jpg" alt="">
				</div>
				<div class="office__title">Офис MediaNation - это комфортное место для работы и саморазвития</div>
				<div class="office__text">Мы сделали все, чтобы члены команды имели возможность плодотворно работать и полноценно отдыхать</div>
				<div class="office__bottom"><div class="office__address">Москва, Трёхпрудный пер., д. 9, стр.1, офис 205</div></div>
			</div>
			<!--  end office__item -->
		</div>
		<!-- end office__block -->

		<!--  start office__item -->
		<div class="office__block">
			<div class="office__map" id="map" data-center="55.75399400, 37.62209300"></div>
		</div>
		<!-- end office__block -->
	</div>

</div>
