<div class="social">
	<ul class="social__list">
		<!--start social__item-->
		<li class="social__item">
			<a href="#" class="social__link">
				<span class="icon icon_fb"></span>
			</a>
		</li>
		<!--end social__item-->
		<!--start social__item-->
		<li class="social__item">
			<a href="#" class="social__link">
				<span class="icon icon_insta"></span>
			</a>
		</li>
		<!--end social__item-->
		<!--start social__item-->
		<li class="social__item">
			<a href="#" class="social__link">
				<span class="icon icon_vk"></span>
			</a>
		</li>
		<!--end social__item-->
		<!--start social__item-->
		<li class="social__item">
			<a href="#" class="social__link">
				<span class="icon icon_youtube"></span>
			</a>
		</li>
		<!--end social__item-->
		<!--start social__item-->
		<li class="social__item">
			<a href="#" class="social__link">
				<span class="icon icon_twitter"></span>
			</a>
		</li>
		<!--end social__item-->
		<!--start social__item-->
		<li class="social__item">
			<a href="#" class="social__link">
				<span class="icon icon_g"></span>
			</a>
		</li>
		<!--end social__item-->
		<!--start social__item-->
		<li class="social__item">
			<a href="#" class="social__link">
				<span class="icon icon_linkedin"></span>
			</a>
		</li>
		<!--end social__item-->
	</ul>
</div>