
@font-face {
	font-family: "Webnar - Black";
	src: url(fonts/webnar/Webnar_Black.otf);
	font-weight: 400;
}

@font-face {
	font-family: Webnar;
	src: url(fonts/webnar/Webnar_Bold.otf);
	font-weight: 700;
}

@font-face {
	font-family: Webnar;
	src: url(fonts/webnar/Webnar_Medium.otf);
	font-weight: 500;
}

@font-face {
	font-family: Webnar;
	src: url(fonts/webnar/Webnar.otf);
	font-weight: 400;
}

@font-face {
	font-family: Webnar;
	src: url(fonts/webnar/Webnar_Light.otf);
	font-weight: 300;
}