.icon {
	display: inline-block;

	&_ambulance {
		background: url(https://icongr.am/fontawesome/ambulance.svg?size=34&color=000000);
		height: 34px;
		width: 34px;  
	}

	&_auth2 {
		background: url(auth.svg) no-repeat;
		height: 32px;
		width: 32px;
	}

	&_phone{
		background: svg-load('phone.svg', fill='#fc2226') no-repeat;
		width: 15px;
		height: 15px;
	}

	&_email{
		background: svg-load('email.svg', fill='#fc2226') no-repeat;
		width: 17px;
		height: 13px;
	}
}
