.logo {

	&__link {
		text-decoration: none;
		display: block;
	}

	&__pic {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}

	@media (max-width: $screen-md) {
		&__pic {
			margin-left: 0;
		}
	}

	@media (max-width: $screen-md) and (min-width: $screen-sm) {

	}

	@media (max-width: $screen-xs-max) {

	}
}