<div class="advantages">
	<div class="container">
		<div class="title">
			<div class="title__promo">Как нам удается успешно работать с такими компаниями?</div>
			<div class="title__main title__main_accent">Все дело в наших ценностях</div>
		</div>
		<!--start advantages__row-->
		<div class="advantages__row">
			<!--start advantages__col-->
			<div class="advantages__col">
				<div class="advantages__item">
					<div class="advantages__image">
						<img class="lazyload" data-src="{{src}}advantages-image-1.png" alt="">
						<div class="advantages__number">01</div>
					</div>
					<div class="advantages__desc">
						<div class="advantages__title">Высокая экспертиза</div>
						<div class="advantages__text">
							Наша команда состоит из профессионалов, которые всегда <b>стремятся к наилучшему
							результату,</b>
							исходя из требований и потребностей клиента. 
						</div>
					</div>
				</div>
			</div>
			<!--end advantages__col-->

			<!--start advantages__col-->
			<div class="advantages__col">
				<div class="advantages__item">
					<div class="advantages__image">
						<img class="lazyload" data-src="{{src}}advantages-image-2.png" alt="">
						<div class="advantages__number">02</div>
					</div>
					<div class="advantages__desc">
						<div class="advantages__title">Бесконечный драйв</div>
						<div class="advantages__text">
							Наша команда – <b>креативные знатоки своего дела.</b>
						</div>
					</div>
				</div>
			</div>
			<!--end advantages__col-->

			<!--start advantages__col-->
			<div class="advantages__col">
				<div class="advantages__item">
					<div class="advantages__image">
						<img class="lazyload" data-src="{{src}}advantages-image-3.png" alt="">
						<div class="advantages__number advantages__number_third">03</div>
					</div>
					<div class="advantages__desc">
						<div class="advantages__title">Честность</div>
						<div class="advantages__text">
							Мы строим <b>долгие и эффективные отношения на честности</b> между сотрудниками. Только так
							мы
							достигаем успеха
						</div>
					</div>
				</div>
			</div>
			<!--end advantages__col-->
		</div>
		<!--end advantages__row-->

		<!-- start btn -->
		<a href="#" class="btn">Посмотреть вакансии</a>
		<!-- end btn -->
	</div>
</div>