@define-mixin clearfix {

	&::before,
	&::after {
    	content: " ";
    	display: table;
  	}

  	&::after {
	    clear: both;
	}
}

@define-mixin !clearfix {

	&::before,
	&::after {
    	display: none;
  	}
}